ELEVENLABS_DOMINICAN_VOICE_ID=KnyXNkomB2EbUFEimEtY
ELEVENLABS_JAPANESE_VOICE_ID=7tLMMSmWlahTJK3t59Lm
ELEVENLABS_BLACK_AMERICAN_VOICE_ID=ZC0NWr8L1iADZBlWxT4Q

NEXT_PUBLIC_ELEVENLABS_DOMINICAN_VOICE_ID=KnyXNkomB2EbUFEimEtY
NEXT_PUBLIC_ELEVENLABS_JAPANESE_VOICE_ID=7tLMMSmWlahTJK3t59Lm
NEXT_PUBLIC_ELEVENLABS_BLACK_AMERICAN_VOICE_ID=ZC0NWr8L1iADZBlWxT4Q


